<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_one_id %><br />
		<%= f.select(:player_one_id, Player.all.collect {|p| [ p.name, p.id ] }) %> 
		<input type="radio" name="game[result]" value="1.0"> Winner
  </div>
  <div class="field">
    <%= f.label :player_two_id %><br />
    <%= f.select(:player_two_id, Player.all.collect {|p| [ p.name, p.id ] }) %>
		<input type="radio" name="game[result]" value="0"> Winner
  </div>
	<div class="field">
    Master H4CK Password<br />
    <input type="password" name="password">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
